<!DOCTYPE html>

<style>
   .dropdown-menu {
       width: 100%;
     }
 
     .scrollable-menu {
       height: auto;
       max-height: 200px;
       overflow-x: hidden;
     }
 </style>
<html lang="en">
   <head>
      <title>Edit profile</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

      <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
      <script script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      <script src="https://cdn.tiny.cloud/1/auwm13l0my50ceer928bn8rk9dowrq1bgdjayndxgkqgr7jj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <script src="{{ url_for('static',filename='js/url_redirect.js') }}"> </script>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/particles.css') }}">
  <script>
    tinymce.init({
      selector: "#threadContent",
      plugins: "emoticons",
      toolbar: "emoticons",
      toolbar_location: "bottom",
      menubar: false
    });
    tinymce.init({
      selector: "#topicDescription",
      plugins: "emoticons",
      toolbar: "emoticons",
      toolbar_location: "bottom",
      menubar: false
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <script>
      particlesJS.load("particles-js", "{{ url_for('static', filename='particlesjs.json') }}");
      
  </script>
   </head>
   <body>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-bottom: 3px solid cyan;">
         <div class="container-fluid">
            <a class="navbar-brand" href="#">AskTUES</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a class="nav-link active" onclick="redirectToHomePage()" type="button" aria-current="page">Home</a>
                  </li>
                  <li class="nav-item">
                  </li>
               </ul>
               <button class="btn btn-outline-success">My Account</button>
            </div>
         </div>
      </nav>
         <div id='particles-js'></div>
         <div class="container bootstrap snippet" style="max-width: 500px; margin: 0 auto;">
            <div class="row">
               <div class="text-center">
                  <div class="col-sm-10">
                     <h1>{{user.username}}</h1>
                  </div>
                  <div class="col-sm-10">
                     {% if user.role == 3 %}
                        <h4 style="color:Red; caret-color:black">Administrator</h4>
                     {% elif user.role == 2 %}
                        <h4 style="color:purple; caret-color:black">Moderator</h4>
                     {% elif user.role == 1 %}
                        <h4>User</h4>
                     {% endif %}
                  </div>
               </div>
            </div>
            <br>
            <div class="row">
               <div class="col-sm-3" style="position:relative; left: -100px; top: -20px">
                  <div class="text-center">
                     <br><br><br><br>
                     {% if user.profilePicture == "DEFAULT" %}
                     <img src="/static/default_profile.jpg" class="avatar img-thumbnail" />
                  {% else %}
                  <img src="/uploads/{{user.profilePicture}}" class="avatar img-thumbnail" style="transform: scale(2);" /> 
                  {% endif %} 

                     <!-- <form enctype = "multipart/form-data" id="editForm" class="form" method="post" action="/process"> -->
                        <br><br><br><br>
                        <form id="upload-file" method="post" enctype="multipart/form-data">
                           <fieldset>
                               <input type="file" name="file" id="file" size = "20" class="text-center center-block file-upload">
                           </fieldset>
                           <fieldset>
                               <button id="upload-file-btn" type="button">Upload</button>
                           </fieldset>
                       </form>
                        
                  </div>
                  <br>
               </div>
            <div class="col-sm-9">
               <ul class="nav nav-tabs">
                  <div class="tab-content">
                     <div class="tab-pane active" id="home">

                        <form id="editForm" class="form" method="post" action="/process" enctype=multipart/form-data>

                           <div class="form-group">
                              <div class="col-xs-6">
                                 <label for="first_name">
                                    <h4>First name</h4>
                                 </label>
                                 <input type="text" class="form-control" size="60" name="first_name" id="first_name" placeholder="{{user.firstName}}">
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-xs-6">
                                 <label for="last_name" disabled>
                                    <h4>Last name</h4>
                                 </label>
                                 <input type="text" class="form-control"  name="last_name" id="last_name" placeholder="{{user.lastName}}">
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-xs-6">
                                 <label for="email">
                                    <h4>Email</h4>
                                 </label>
                                 <input type="email" class="form-control"  name="email" id="email" placeholder="{{user.email}}">
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-xs-6">
                                 <label for="password">
                                    <h4>New password</h4>
                                 </label>
                                 <input type="password" class="form-control" name="password" id="password" placeholder="Enter your new password">
                              </div>
                           </div>
                           <div class="form-group">
                            <div class="col-xs-6">
                               <label for="password2">
                                  <h4>Confirm new password</h4>
                               </label>
                               <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm your new password">
                            </div>
                         </div>
                         <div class="form-group">
                            <div class="col-xs-6">
                               <label for="password_conf">
                                  <h4>Current password</h4>
                               </label>
                               <input type="password" class="form-control" name="password_conf" id="password_conf" placeholder="Enter your current password">
                            </div>
                         </div>
                           <div class="form-group">
                              <div class="col-xs-12">
                                 <br>
                                 <button class="btn btn-lg btn-success" type="submit"></i> Save</button>
                              </div>
                           </div>
                        </form>
                        <hr>
                     </div>
                  </div>
               </ul>
            </div>
         </div>
      </div>
   </body>
   <script>
      function url_redirect(options){
                 var $form = $("<form />");
                 
                 $form.attr("action",options.url);
                 $form.attr("method",options.method);
                 
                 for (var data in options.data)
                 $form.append('<input type="hidden" name="'+data+'" value="'+options.data[data]+'" />');
                  
                 $("body").append($form);
                 $form.submit();
            }  
      $('#editForm').submit(function(e){
      $(this).append('<input type="hidden" name="token" value="'+localStorage.getItem("token")+'" /> ');
        e.preventDefault();
        $.ajax({
            url: '/process',
            type: 'post',
            data:$('#editForm').serialize(),
            success:function(data, statuss){
                  alert("Test");
                  url_redirect({url: "/u/{{user.username}}",
                    method: "post",
                    data: {"token":localStorage.getItem("token")}
                  });
                
            }
        });
      });
      
      function redirectToHomePage(){
         url_redirect({url: "/home",
                  method: "post",
                  data: {"token": localStorage.getItem("token"), "addTopicMode": "0","addThreadMode":"0"}
               });
      }

      $(function() {
    $('#upload-file-btn').click(function() {
        var form_data = new FormData($('#upload-file')[0]);
        form_data.append("token", localStorage.getItem("token"));
        $.ajax({
            type: 'POST',
            url: '/process/image',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
               alert("test");
                console.log('Success!');
                url_redirect({url: "/u/{{user.username}}",
                    method: "post",
                    data: {"token":localStorage.getItem("token")}
                  });
            },
        });
    });
});


   </script>
</html>