<html>
    <form method="POST" action="/register">

        <label><b>Username</b></label>
        <br>
        <input type="text" placeholder="Enter username" name="username" required>
        <br>

        <label><b>Email</b></label>
        <br>
        <input type="text" placeholder="Enter email" name="email" required>
        <br>

        <label><b>Password</b></label>
        <br>
        <input type="text" placeholder="Enter password" name="password" required>
        <br>

        <label><b>Confirm password</b></label>
        <br>
        <input type="text" placeholder="Repeat password" name="confirm_password">
        <br>

        <input type="submit">
    </form>
</html>