<!DOCTYPE html>
<html lang="en">
   <head>
      <title>AskTUES</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   </head>
   <body>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-bottom: 3px solid cyan;">
         <div class="container-fluid">
            <a class="navbar-brand">AskTUES</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a class="nav-link active" onclick="redirectToHomePage()" type="button" aria-current="page">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Link</a>
                  </li>
               </ul>
               <button class="btn btn-outline-success">My Account</button>
            </div>
         </div>
      </nav>     
      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h3>Search results for "{{search}}"</h3>

      {%for result in results%}
         {% set id = result["id"] %}
         <div class="container" onclick="openThread('{{id}}')" style="background-color: lightcyan; 
         width: 80%; 
         height: 120px; 
         border-radius: 10px; 
         padding: 10px; 
         border: 2px solid darkcyan; 
         vertical-align: middle;">
            <div class="row">
               <div class="col-12 col-md-8">{{ result["title"]}}</div>
               <div class="col-6 col-md-4"> 
                  <div style="float: right">Last updated: {{ result["timestampLastUpdated"]}}</div>   
                  <div>Created by: {{ result["userCreatorID"]}}</div>
               </div>
               
            </div>
            
         </div>
         <br>
      {%endfor%}


      
   </body>
   <script>
      function url_redirect(options){
           var $form = $("<form />");
           
           $form.attr("action",options.url);
           $form.attr("method",options.method);
           
           for (var data in options.data)
           $form.append('<input type="hidden" name="'+data+'" value="'+options.data[data]+'" />');
            
           $("body").append($form);
           $form.submit();
      }
      function redirectToHomePage(){
         url_redirect({url: "/home",
                  method: "post",
                  data: {"token": localStorage.getItem("token"), "addTopicMode": "0","addThreadMode":"0"}
               });
      }
      function openThread(id){
         url_redirect({url: "/thread/"+id,
                  method: "post",
                  data: {"token": localStorage.getItem("token")}
               });
      }
   </script>
</html>