<!DOCTYPE html>
<style>
   body
   {
     margin:0;
     padding: 0;
     height: 100vh;
 
   }
   #particles-js
   {
     background: #005954;
     background-position: 50% 50%;
     background-repeat: repeat;
     background-size: cover;
     position: fixed;
     width: 100%;
     min-height: 100%;
     z-index: -1;
   }
   </style>
<html lang="en">
   <head>
      <title>AskTUES</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

      <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
      <script script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      <script src="https://cdn.tiny.cloud/1/auwm13l0my50ceer928bn8rk9dowrq1bgdjayndxgkqgr7jj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
      <script src="{{ url_for('static',filename='js/url_redirect.js') }}"> </script>

      <script>
        tinymce.init({
          selector: "#threadContent",
          plugins: "emoticons",
          toolbar: "emoticons",
          toolbar_location: "bottom",
          menubar: false
        });
        tinymce.init({
          selector: "#reply_content",
          plugins: "emoticons",
          toolbar: "emoticons",
          toolbar_location: "bottom",
          menubar: false
        });
        tinymce.init({
          selector: "#reply_content_edit",
          plugins: "emoticons",
          toolbar: "emoticons",
          toolbar_location: "bottom",
          menubar: false
        });
      </script>
      <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
      <script>
          particlesJS.load("particles-js", "{{ url_for('static', filename='particlesjs.json') }}");
          
      </script>
    
      <!-- shhhhhh ;) -->
      <style>
        .tox-notifications-container{
          display:none;
        }
        
    
      </style>
    </head>
   <body>
      <div id="particles-js"></div>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-bottom: 3px solid cyan;">
         <div class="container-fluid">
            <a class="navbar-brand">AskTUES</a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item">
                 <a class="nav-link active" onclick="redirectToHomePage()" type="button" aria-current="page">Home</a>
               </li>
               <li class="nav-item">
               </li>
             </ul>
             <form id="searchForm" class="d-flex" method="post" action="/search" style=" width: 400px; margin-right: 32.5%;">
               <input class="form-control me-2" placeholder="Search..." name="search">

               <button class="btn btn-outline-success" type="submit">Search</button>
             </form>

             <script>
               $('#searchForm').submit(function(e){
                           $(this).append('<input type="hidden" name="token" value="'+localStorage.getItem("token")+'" /> ');
                           return true;
                         });
             </script>
             {% if logged %}
                 <div class="dropdown">
                   <button class="btn btn-secondary dropdown-toggle" style="margin-right: 30px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     My account
                   </button>
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                     <a class="dropdown-item" onclick="redirectToProfilePage()">My account</a>
                     <a class="dropdown-item" onclick="logout()">Logout</a>
                   </div>
                 </div>
                  <script>
                     function redirectToProfilePage(){
                     url_redirect({url:'/u/{{client.username}}',
                              method: "post",
                              data: {"token": localStorage.getItem("token")}
                           });
                  }
                  </script>
                  {% else %}
                  <form action="/" method="post">
                     <button type = "submit" value="0" name="registerMode" class="btn btn-outline-success">Login</a></button>
                     <button type = "submit" value="1" name="registerMode" class="btn btn-outline-primary">Sign up</a></button>
                 </form>
                  {% endif %}
            </div>
         </div>
      </nav>

      {% if client.username == userCreator.username %}
      <div style="width: 1400px; margin: 0 auto; margin-top: 2%;">
         <div class="container" style="background-color: lightcyan; 
            width: 1300px;    
            height: 300px;
            border-radius: 10px; 
            padding: 10px; 
            
            border: 2px solid darkcyan;
            float: left;">
               <div class="row">
                  <div class="col-lg-2">
                     <div style=" 
                        width: 50%;
                        height: 50%;
                        left: 50%;
                        top: 50%;
                        margin-top: 50%;
                        margin-left: 50%;">
                        {% if userCreator.profilePicture == "DEFAULT" %}
                        <img src="/static/default_profile.jpg" class="avatar img-thumbnail" style="position:relative; top: -50px; right: 50px; width: 200px;; height: 100px;"/>
                        {% else %}
                        <img src="/uploads/{{userCreator.profilePicture}}" class="avatar img-thumbnail" style="position:relative; top: -50px; right: 50px; width: 200px;; height: 100px;" /> 
                        {% endif %} 

                        <div class = "text-center" style="position:relative; top: -35px; right: 50px;"><p style="font-size: 20px;">{{userCreator.username}}</p></div>
                        <div class = "text-center" style="position:relative; top: -45px; right: 50px;">
                        {% if userCreator.role == 3 %}
                        <p style="color:Red; caret-color:black; font-size: 20px;position:relative; top: -5px; right: 10px; text-align:center; display: block;">Administrator</p>
                        {% elif userCreator.role == 2 %}
                        <p style="color:purple; caret-color:black; font-size: 20px;position:relative; top: -5px; right: 0px; text-align:center; display: block;">Moderator</p>
                        {% elif userCreator.role == 1 %}
                        <p style="font-size: 20px;">User</p>
                        {% endif %}
                     </div>
                     </div>
                  </div>


                  {% if editMode == True %}
                  <div class="col-lg-8">
                     <form method="post" id="threadForm">
                  <div class="form-group">
                    <input type="text" name="threadName" class="form-control" id="threadName" value="{{thread.title}}" aria-describedby="topicInfo" placeholder="Thread name">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="threadContent" id="threadContent" rows="3">{{thread.content}}</textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                  </div>
               
               {%else%}
               <div class="col-lg-8">
                  <strong>{{thread.title}}</strong>
                  <br>
                  <br>
                  <div style="width: 870px;
                  height: 200px;
                  overflow: auto;white-space: pre-wrap; word-wrap: break-word;">{{thread.content}}</div>
               </div>

               {%endif%}
                  
                  <div class="col-lg-2">
                     <div>Published on</div>
                     <div>{{labelCreated}}</div>
                  </div>
               </div>
         </div>
         

         <style> a.btn:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
         }
         a.btn {
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -o-transform: scale(0.8);
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
         }</style>

         <!-- {% if client.username == userCreator.username %} -->
         <div class="column">
                <a onclick="redirectToEditPage()" class="btn btn-primary a-btn-slide-text">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <span><strong>Edit</strong></span>            
                </a>

                <a onclick="deleteThread()" class="btn btn-primary a-btn-slide-text">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <span><strong>Delete</strong></span>            
              </a>
                
         </div>
         
      </div>
      <!-- {% endif %} -->

      {% else %}
      <div class="container" style="background-color: lightcyan; 
      width: 1400px;    
      height: 300px;
      border-radius: 10px; 
      padding: 10px; 
      margin-top: 2%;
      border: 2px solid darkcyan;">
         <div class="row">
            <div class="col-lg-2">
               <div style=" 
               width: 50%;
               height: 50%;
               left: 50%;
               top: 50%;
               margin-top: 50%;
               margin-left: 50%;">
               {% if userCreator.profilePicture == "DEFAULT" %}
               <img src="/static/default_profile.jpg" class="avatar img-thumbnail" style="position:relative; top: -50px; right: 50px; width: 200px;; height: 100px;"/>
               {% else %}
               <img src="/uploads/{{userCreator.profilePicture}}" class="avatar img-thumbnail" style="position:relative; top: -50px; right: 50px; width: 200px;; height: 100px;" /> 
               {% endif %} 
               <div class = "text-center" style="position:relative; top: -35px; right: 50px;"><p style="font-size: 20px;">{{userCreator.username}}</p></div>
               <div class = "text-center" style="position:relative; top: -45px; right: 50px;">
               {% if userCreator.role == 3 %}
               <p style="color:Red; caret-color:black; font-size: 20px;position:relative; top: -5px; right: 10px; text-align:center; display: block;">Administrator</p>
               {% elif userCreator.role == 2 %}
               <p style="color:purple; caret-color:black; font-size: 20px;position:relative; top: -5px; right: 0px; text-align:center; display: block;">Moderator</p>
               {% elif userCreator.role == 1 %}
               <p style="font-size: 20px;">User</p>
               {% endif %}
            </div>
            </div>
         </div>
         <div class="col-lg-8">
            <strong>{{thread.title}}</strong>
            <br>
            <br>
            <div>{{thread.content}}</div>
         </div>
            <div class="col-lg-2">
               <div>Published on</div>
               <div>{{labelCreated}}</div>
            </div>
         </div>
   </div>
      {%endif%}
      
      <script>
         function url_redirect(options){
           var $form = $("<form />");
                    
           $form.attr("action",options.url);
           $form.attr("method",options.method);
                    
           for (var data in options.data)
           $form.append('<input type="hidden" name="'+data+'" value="'+options.data[data]+'" />');
                       
           $("body").append($form);
           $form.submit();
        }

         function deleteThread(){
           $.ajax({
              url: '/thread/delete/{{thread.id}}',
              type: 'post',
              data:{"token": localStorage.getItem("token")},
              success:function(data, statuss){
                 if(data["status"]=="Success"){
                    url_redirect({url: "/home",
                    method: "post",
                    data: {"token": localStorage.getItem("token"), "addTopicMode": "0","addThreadMode":"0"}
                    });
                 }
                 
              }
           });
        }
        function redirectToEditPage(){
           url_redirect({url: "/thread/{{thread.id}}",
                    method: "post",
                    data: {"token": localStorage.getItem("token"), "threadEditMode": "1"}
                    });
        }
        $('#threadForm').submit(function(e){
                  $(this).append('<input type="hidden" name="token" value="'+localStorage.getItem("token")+'" /> ');
                  $(this).append('<input type="hidden" name="threadId" value="{{ thread.id}}" /> ');
                  $threadContent= tinymce.get("threadContent").getContent({ format: "text" });
                  e.preventDefault();
                  $.ajax({
                      url: '/thread/edit/{{thread.id}}',
                      type: 'post',
                      data:{"token": localStorage.getItem("token"), "threadId": "{{thread.id}}", "threadContent":$threadContent, "threadName": "{{thread.name}}"},
                      success:function(data, statuss){
                        if(data["status"]=="Success"){
                           url_redirect({url: "/thread/{{thread.id}}",
                           method: "post",
                           data: {"token": localStorage.getItem("token")}
                           });
                        }
                      }
                  });
                });
      </script>
      <br>
      {% if logged %}
      <div style="position: relative; clear: both; margin-left: 10%; left: 160px; width: 1200px;">
            
         
         <form method="post" id="replyForm" novalidate>
           <div class="form-group">
             <label for="reply_content" style="color: white; margin-top:2%">Enter your reply</label>
             <textarea type="text" name="reply_content" class="form-control" id="reply_content" rows="4" cols="50" style="resize:none;" required></textarea>
           </div>
           <br>
           <button type="submit" class="btn btn-primary">Submit</button>
         </form>
       </div>
       {%endif%}

      {% for reply in replies %}
      <div style="width: 1400px; margin: 0 auto; margin-top: 2%;">
         <div class="container" style="background-color: lightcyan; 
            width: 1200px;    
            height: 350px;
            border-radius: 10px; 
            padding: 10px; 
            
            border: 2px solid darkcyan;
            float: center;">
               <div class="row">
                  <div class="col-lg-2">
                     <div style=" 
                        width: 50%;
                        height: 50%;
                        left: 50%;
                        top: 50%;
                        margin-top: 50%;
                        margin-left: 50%;">
                        
                        {% if repliers[reply].profilePicture == "DEFAULT" %}
                        <img src="/static/default_profile.jpg" class="avatar img-thumbnail" style="position:relative; top: -50px; right: 50px; width: 200px;; height: 100px;"/>
                        {% else %}
                        <img src="/uploads/{{userCreator.profilePicture}}" class="avatar img-thumbnail" style="position:relative; top: -50px; right: 50px; width: 200px;; height: 100px;" /> 
                        {% endif %} 
                        <br> 
                        <div class = "text-center" style="position:relative; top: -35px; right: 50px;"><p style="font-size: 20px;">{{repliers[reply].username}}</p></div>
                        <div class = "text-center" style="position:relative; top: -45px; right: 50px;">
                        {% if repliers[reply].role == 3 %}
                        <p style="color:Red; caret-color:black; font-size: 20px;position:relative; top: -5px; right: 10px; text-align:center; display: block;">Administrator</p>
                        {% elif repliers[reply].role == 2 %}
                        <p style="color:purple; caret-color:black; font-size: 20px;position:relative; top: -5px; right: 0px; text-align:center; display: block;">Moderator</p>
                        {% elif repliers[reply].role == 1 %}
                        <p style="font-size: 20px;">User</p>
                        {% endif %}
                     </div>
                     </div>
                  </div>

                  {% if editReplyMode == True  and reply.id == reply_to_be_edited_id %}
                  <div class="col-lg-8">
                     <form method="post" id="editReply-{{reply.id}}">

                  <div class = "form-group">
                    <textarea class="form-control" name="reply_content" id="reply_content_edit" rows="3">{{reply.content}}</textarea>
                  </div>
                  <input type="hidden" id="replyId" name = "replyId" value="{{reply.id}}" />
                  <button type="button" onclick="editReply('{{reply.id}}')" class="btn btn-primary">Submit</button>
                </form>
                  </div>
                  
                  {% else %}
               
                  <div class="col-lg-8">
                     <br>
                     <div style="width: 800px;
                  height: 270px;
                  overflow: auto;white-space: pre-wrap; word-wrap: break-word;">{{reply.content}}</div>
                  </div>
               {% endif %}
               
                  
                  <div class="col-lg-2">
                     <div>Replied on</div>
                     <div>{{reply.timestampEdited}}</div>
                  </div>
               </div>
         </div>

         {% if repliers[reply].username == client.username  %}
         <div class="column">
                  <a onclick="redirectToEditReplyPage('{{reply.id}}')" class="btn btn-primary a-btn-slide-text" style="position: relative; right: -83.2%;">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <span><strong>Edit</strong></span>            
                </a>

                <a onclick="deleteReply('{{reply.id}}')" class="btn btn-primary a-btn-slide-text" style="position: relative; right: -83.2%;">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <span><strong>Delete</strong></span>               
              </a>
                
         </div>
         {%endif%}
         
      </div>
      {%endfor%}


   </body>
   <script>
      function url_redirect(options){
           var $form = $("<form />");
           
           $form.attr("action",options.url);
           $form.attr("method",options.method);
           
           for (var data in options.data)
           $form.append('<input type="hidden" name="'+data+'" value="'+options.data[data]+'" />');
            
           $("body").append($form);
           $form.submit();
      }
      function redirectToHomePage(){
         url_redirect({url: "/home",
                  method: "post",
                  data: {"token": localStorage.getItem("token"), "addTopicMode": "0","addThreadMode":"0"}
               });
      }

        function redirectToEditReplyPage(reply_id){


         url_redirect({url: "/thread/{{thread.id}}",
            method: "post",
            data: {"token": localStorage.getItem("token"), "editReplyMode" : "1", "replyId" : reply_id.toString()}
            });
            
      }
      function deleteReply(reply_id){
           $.ajax({
              url: '/thread/{{thread.id}}/reply/' + reply_id + '/delete',
              type: 'post',
              data:{"token": localStorage.getItem("token")},
              success:function(data, statuss){
                 if(data["status"]=="Success"){
                    url_redirect({url: "/thread/{{thread.id}}",
                    method: "post",
                    data: {"token": localStorage.getItem("token"), "editReplyMode" : "0", "replyId" : reply_id.toString()}
                    });
                 }
                 
              }
           });
        }
        $('#replyForm').submit(function(e){
                  $(this).append('<input type="hidden" name="token" value="'+ localStorage.getItem("token")+'" /> ');
                  e.preventDefault();
                  $reply_content= tinymce.get("reply_content").getContent({ format: "text" });
                  if ($reply_content.length){
                  $.ajax({
                      url: '/thread/{{thread.id}}/reply/add',
                      type: 'post',
                      data:{"token": localStorage.getItem("token"), "reply_content": $reply_content},
                      success:function(data, statuss){
                        if(data["status"]=="Success"){
                           url_redirect({url: "/thread/{{thread.id}}",
                           method: "post",
                           data: {"token": localStorage.getItem("token")}
                           });
                        }
                      }
                  });
               }
                });

         function editReply(reply_id){
            $str = '#editReply-' + reply_id.toString();
                  $($str).append('<input type="hidden" name="token" value="'+ localStorage.getItem("token")+'" /> ');
                  $reply_content= tinymce.get("reply_content_edit").getContent({ format: "text" });
                  $.ajax({
                      url: '/thread/{{thread.id}}/reply/' + reply_id + '/edit',
                      type: 'post',
                      data:{"token": localStorage.getItem("token"), "reply_content": $reply_content},
                      success:function(data, statuss){
                        if(data["status"]=="Success"){
                           url_redirect({url: "/thread/{{thread.id}}",
                           method: "post",
                           data: {"token": localStorage.getItem("token"), "editReplyMode" : "0"}
                           });
                        }
                      }
                  });  

         }
         function logout(){
            localStorage.setItem("token", "")
            url_redirect({url:'/',
                     method: "post",
                     data: {"token": localStorage.getItem("token")}
                  });
         }






   </script>
</html>