body
   {
     margin:0;
     padding: 0;
     height: 100vh;
 
   }
   #particles-js
   {
     background: #005954;
     background-position: 50% 50%;
     background-repeat: repeat;
     background-size: cover;
     position: fixed;
     width: 100%;
     min-height: 100%;
     z-index: -1;
   }